body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 150px;
	margin-left: 200px;

}

form {
	border: 3px solid #f1f1f1;
	margin-top: 10px;
	margin-left: 100px;
	margin-bottom: 10px;
	width: 700px;
	float: left;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}


button {
    
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

span.psw {
    float: right;
    padding-top: 16px;
}